.container {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  position: relative;
  margin-top: 2em;
  overflow: hidden;

}

.info {
  font-style: italic;
  text-align: center;
}

.container > img {
  width: 100%;
  height: calc(100vh - 60px);
  object-fit: contain;
}
