.title {
  text-align: center;
}

.playerContainer {
  height: 30vh;
  width: 52vw;
  margin: 0 auto;
}

.seasonsContainer {
  display: flex;
  margin-top: 1em;
  gap: 1em;
}

.pickerContainer {
  margin-top: 1em;
}
