.Card {
  display: flex;
  align-items: center;
  border-radius: 24px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.211);
  user-select: none; /* Standard syntax */
  -webkit-user-drag: none;

}

.Card img {
  height: 100px;
  width: 140px;
  object-fit: cover;
  user-select: none; /* Standard syntax */
  -webkit-user-drag: none;
}

.Card h3 {
  margin-left: 0.4em;
  font-size: 1.2em;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none; /* Standard syntax */


  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Card .aside {
  margin-left: auto;
  padding-right: 1em;
  display: flex;
  gap: 0.4em;
}

.aside div {
  text-align: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  border-radius: 0.4em;
  font-size: 1em;
}

.aside div:first-child {
  background: tomato;
}

.aside div:last-child {
  background-color: white;
}
.aside div > p,
.aside > div > h4 {
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aside > div > p {
  font-size: 1em;
}



.New {
    background: linear-gradient(-45deg, #000000, #c44c28, #000000, #092a36, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    // border: 0;
}

.Options {
  background-color: black;
  height: 100%;
  display: flex;
  padding: .3em;
  border-radius: .3em;
  gap: .4em;
}

.Options > div {
  border: 1px solid rgba(255, 255, 255, 0.694);
  width: 50%;
  display: flex;
  padding: 1em;
  border-radius: .7em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}


.Options > div > svg {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}

@media screen and (min-width: 600px) {
  .aside div > p {
    width: 17vw;
    font-size: 3em;
  }
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
