.Card {
  display: flex;
  align-items: center;
  border-radius: 24px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.211);
  user-select: none; /* Standard syntax */
  -webkit-user-drag: none;
  width: 100%;
  position: relative;
}

.Card img {
  height: 100px;
  width: 140px;
  object-fit: cover;
  object-position: top;
  user-select: none; /* Standard syntax */
  -webkit-user-drag: none;
  flex: 0;
}

.Card h3 {
  margin-left: 0.4em;
  font-size: 1.2em;
  // width: 14vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none; /* Standard syntax */

  // background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  // background-clip: text;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}

.Card .aside {
  margin-left: auto;
  padding-right: 1em;
  display: flex;
  gap: 0.4em;
  flex: 0;
}

.aside div {
  text-align: center;
  // width: 6em;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  border-radius: 0.4em;
  font-size: 1em;
}

.aside div:first-child {
  background: tomato;
}

.aside div:last-child {
  color: black;
  background-color: white;
}
.aside div > p,
.aside > div > h4 {
  // background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  // background-clip: text;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}

.aside > div > p {
  font-size: 1em;
}

.Options {
  background-color: black;
  height: 100%;
  display: flex;
  padding: 0.3em;
  border-radius: 0.3em;
  gap: 0.4em;
}

.Options > div {
  border: 1px solid rgba(255, 255, 255, 0.694);
  width: 50%;
  display: flex;
  padding: 1em;
  border-radius: 0.7em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.Options > div > svg {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}

.OptionsRemove:hover,
.OptionsRemove:active {
  transition: background-color 300ms;
  background-color: tomato;
  cursor: pointer;
}

.OptionsNotifications:hover,
.OptionsNotifications:active {
  transition: background-color 300ms;
  background-color: limegreen;
  cursor: pointer;
}

.animating {
  transform-origin: center left;
  animation: slide-out 1s forwards;
}

.animatingUp {
  animation: move-up 1s;
}

@keyframes move-up {
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slide-out {
  100% {
    display: none;
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 600px) {
  .aside div > p {
    width: 17vw;
    font-size: 3em;
  }
}

.New::before {
  z-index: -1;
  overflow: hidden;
  content: "";
  display: block;
  width: 200%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    -45deg,
    #000000,
    #c44c28,
    #000000,
    #092a36,
    #000000
  );
  background-repeat: no-repeat;
  animation: spring 15s ease infinite alternate;
  border: 0;
}

// animating using background-position caused flicker in android chrome
@keyframes spring {
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
